.fidelityCard {
  grid-area: B;
  padding: 2.25rem 2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;

  & > header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    & h1 {
      font-size: var(--fs-xs);
      font-weight: var(--fw-bold);
      color: var(--gray-500);
    }

    & p {
      font-size: var(--fs-sm);
      font-weight: var(--fw-base);
      color: var(--gray-500);
      line-height: 2.5;
    }


    & div:last-child {
      background-color: var(--gray-300);
      color: var(--gray-500);
      font-weight: var(--fw-bold);
      font-size: var(--fs-md);
      border-radius: 9rem;
      display: flex;
      align-items: center;
      justify-content: center;
      padding:  0.375rem 0.75rem;
    }
  }
}


.gift {
  & img {
    opacity: .35;
  }
}

.stickersContainer {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}