.graphCard {
  grid-area: D;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.4rem 2rem;
  
  & > div {
    width: 80%;
    display: flex;
    flex-direction: column;
    gap: 0.75rem;

    & h3 {
      font-size: var(--fs-xl);
      font-weight: var(--fw-bold);
      color: var(--gray-600);
      display: inline;
      margin-right: .4rem;

      & span {
        font-size: var(--fs-md);
        font-weight: var(--fw-base);
      }
      
    }
  }

  & div > div:last-child {
   display: flex;
   gap: 0.75rem;
   align-items: center;

    & span {
      font-size: var(--fs-xs);
      color: var(--gray-500);
      white-space: nowrap;
    }
  }

  &:last-child > div:last-child {
    background-color: var(--gray-200);
    width: 4.5rem;
    height: 4.5rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;

    & img {
      width: 3rem;
      height: 2.7rem;
    }
  }
}

.progressBar {
  width: 100%;
  height: .5rem;
  background-color: var(--gray-300);
  border-radius: 9rem;

  & div {
    height: .5rem;
    width: 70%;
    background: var(--gradient-base);
    border-radius: 9rem;
  }
}