.mainSection {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-inline: 17.4rem;
}

.cardsContainer {
  display: grid;
  grid-template-areas: 
  "A  B  B"
  "C  B  B"
  "C  B  B"
  "C  D  D";
  gap: 1rem 1.5rem;
  grid-template-columns: 1.2fr  1fr 1fr;
}

@media (width < 80rem){
  .mainSection {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-inline: 1rem;
  }

  .cardsContainer {
    grid-template-areas: 
    "A"
    "B"
    "D"
    "C";
    grid-template-columns: 1fr;
    gap: .5rem;
  }
}