.button {
  max-width: 2.5rem;
  max-height: 2.5rem;
  padding: 0.5rem 0.625rem;
  border-radius: .5rem;
  border: none;
  background-color: var(--gray-700);
  opacity: .6;

  & img {
    width: 1.25rem;
    height: auto;
  }

  & [inputFocus=true] {
    background-color: var(--gray-700);
    opacity: 1;
  }

  &:hover {
    background-color: var(--gray-600);
    opacity: 1;
    cursor: pointer;
  }

  &:disabled {
    background-color: var(--gray-700);
    opacity: .6;
    cursor: not-allowed;
  }

 
}

.buttonActived {
  opacity: 1;
}

.input {
  display: flex;
  border-radius: .75rem;
  max-width: 25rem;
  width: 100%;
  position: relative;
  min-height: 3.5rem;

  & button {
    position: absolute;
    right: .5rem;
    top: .5rem;
  }

  & input {
    width: 100%;
    background-color: var(--gray-300);
    border: 1px solid var(--gray-400);
    border-radius: .75rem;
    padding: .5rem .5rem .5rem 1rem;
    outline: none;
    font: var(--fw-base) var(--fs-base)/1.4 var(--ff-base);
    color: var(--gray-700);

    &::placeholder {
      color: var(--gray-500);
    }

    &:focus {
      outline: 2px solid var(--pink);
    }
  }
}

.card {
  width: 100%;
  height: 100%;
  background-color: var(--gray-100);
  border-radius: 1rem;
  border: 1px solid var(--gray-300);
}

.sticker {
  background-color: var(--gray-200);
  border-radius: 1.25rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 5.5rem;
  height: 5.5rem;
  
  & img {
    transition: scale 300ms ease;
    width: 4rem;
    scale: 1;
    animation: addSticker 500ms ease-in;

    &:hover {
      scale: 1.5;
    }
    
  }
}

@keyframes addSticker {
  0% {
    scale: 0;
  }
  70% {
    scale: 1.5;
  }
  100% {
    scale: 1;
  }
}

@media (width < 80rem){
  .sticker {
    width: 3.5rem;
    height: 3.5rem;
    
    & img {
      width: 2.6rem;
    }
  }
}

.separator {
  height: 1px;
  width: 100%;
  background-color: var(--gray-200);
}

.schedule {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &:hover {
    opacity: 0.5;
  }

  & div:nth-child(1) {
    font-size: var(--fs-xs);
    display: flex;
    flex-direction: column;

    & > #scheduleDate {
      color: var(--gray-600);
      font-weight: var(--fw-bold);
    }
    & > #scheduleTime {
      margin-top: 0.125rem;
      color: var(--gray-500);
    }
  }

  & div:nth-child(2) {
    background-color: #deeaddff;
    border-radius: 50rem;
    width: 2rem;
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: addChecks 500ms ease-in;

    & img {
      width: 1.5rem;
      height: 1.5rem;
    }
  }
}

@keyframes addChecks {
  from {
    transform: translateX(5rem);
  }
  to {
    transform: translateX(0);
  }
}

.progressBar {
  width: 100%;
  height: .5rem;
  background-color: var(--gray-300);
  border-radius: 9rem;
  
  & div {
    transition: width 400ms ease-in;
    height: .5rem;
    width: 0%;
    background: var(--gradient-base);
    border-radius: 9rem;
  }
}


.modal {
  background-color: rgba(0, 0, 0, 0.47);
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  position: fixed;
  justify-content: center;
  align-items: center;
  z-index: 10;
  display: none;

  & > div {
    background-color: var(--white);
    border-radius: 1rem;
    padding: 1.3rem 2rem;
    min-height: 8rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    & div {
      display: flex;
      justify-content: center;

      & button {
        color: var(--white);
        padding: .54rem .75rem;
        border: none;
        border-radius: .5rem;
        background-color: var(--gray-700);

        &:hover {
          background-color: var(--gray-600);
          opacity: 1;
          cursor: pointer;
        }
      }
    }
  }
}

.opened {
  display: flex;
}

