body > header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-block: 4rem;
  gap: 2rem;
  width: 100%;

  & > img {
    width: 7.25rem;
    height: auto;
  }

  & form {
    width: 100%;
    display: flex;
    justify-content: center;
  }
}

@media (width < 80rem){
  body > header {
    padding-inline: 1rem;
    padding-top: 2rem;
    padding-bottom: 1rem;
  }
}